<div class="about-page">
    <h1 class="about-title">About us</h1>
    <!-- <div class="about-container"> -->

        <!-- <ng-container *ngIf="!resumeActive; else resumeView">
            <div class="about-section row">
                <div class="about-img col-5">
                    <img class="about-img" src="assets/images/undraw_analyze_0hyg.svg" alt="Privacy Image">
                </div>
                <div class="about-writing col-7">
                    <h2 class="about-subtitle">Jamie Plesko</h2>
                    <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p-button 
                        label="View my Resume"
                        class="resume-btn p-button-raised p-button-rounded" 
                        (click)="viewResume()"
                    ></p-button>
                </div>
            </div>
        </ng-container>
        
        <ng-template #resumeView>
            <div class="resume">
                <div>
                    Load the resume here.
                </div>

                <p-button
                    label="Back"
                    class="back-btn p-button-raised p-button-rounded"
                    (click)="backToOverview()"
                ></p-button>
            </div>
        </ng-template> -->

        
        <app-forcegraph-network></app-forcegraph-network>
        

    <!-- </div> -->
</div>

