div {
    padding-left: 2rem;
}

.name {
    font-size: 1.5rem;
}

.email {
    font-size: 1.5rem;
}

p {
    color: #3E4D3A; // #6D8B74;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 0.2rem;
    text-align: left;
    
    @media (max-width: 768px) {
      font-size: 1rem;
      text-align: center;
    }
}