<div class="services-page">
    <h1 class="services-title">Services and Resources</h1>
    
    <div class="services-container">
        <div class="services-section">
            <div class="services-content">
                <div class="services-writing">
                    <h2 class="services-subtitle">Family Therapy</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="services-img">
                    <img src="assets/images/undraw_analyze_0hyg.svg" alt="Service 1 Image">
                </div>
            </div>
        </div>
    </div>
    
    <div class="services-container">
        <div class="services-section">
            <div class="services-content reverse">
                <div class="services-img">
                    <img src="assets/images/undraw_analyze_0hyg.svg" alt="Service 2 Image">
                </div>
                <div class="services-writing">
                    <h2 class="services-subtitle">Immigration</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="services-container">
        <div class="services-section">
            <div class="services-content">
                <div class="services-writing">
                    <h2 class="services-subtitle">Youth Couseling</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="services-img">
                    <img src="assets/images/undraw_analyze_0hyg.svg" alt="Service 3 Image">
                </div>
            </div>
        </div>
    </div>

    <div class="services-container">
        <div class="services-section">
            <div class="services-content reverse">
                <div class="services-img">
                    <img src="assets/images/undraw_analyze_0hyg.svg" alt="Service 4 Image">
                </div>
                <div class="services-writing">
                    <h2 class="services-subtitle">Service 4</h2>
                    <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>